@include media-breakpoint-only(xs) { ... }
@include media-breakpoint-only(sm) { ... }
@include media-breakpoint-only(md) { ... }
@include media-breakpoint-only(lg) { ... }
@include media-breakpoint-only(xl) { ... }


@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800;900&display=swap');

*
{
    font-family:'Libre Franklin', sans-serif;
    font-weight: 900px;
    margin: 0;
    padding: 0;
}

h1 { font-weight: 800 !important; }  
h2 { font-weight: 700 !important; }
h3 { font-weight: 600 !important; }
h4 { font-weight: 500 !important; }
h5 { font-weight: 400 !important; }
h6 { font-weight: 300 !important; }

body
{
    background-color: #394a3d !important;
}

#box
{
    box-shadow: 0px 3px 10px;
    background-color: white;
    border-radius: 10px; 
}

button
{
    border: none;
    border-radius: 10px !important;
    box-shadow: 0px 3px 10px;
    background-color: #ccc
}

.row button
{
    box-shadow: 0px 1px 1px !important;
}

.row button a
{
    text-decoration: none;
    color: black
}

button:hover
{
    background-color:  white;
}
