
@include media-breakpoint-only(xs) { ... }
@include media-breakpoint-only(sm) { ... }
@include media-breakpoint-only(md) { ... }
@include media-breakpoint-only(lg) { ... }
@include media-breakpoint-only(xl) { ... }    

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%
}

body{
    background: #f5f6fa;
}

.projects{
    padding: 0px
}

.wrapper .sidebar{
    background: rgb(5, 68, 104);
    /*
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    */
    position: fixed;
    padding: 30px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 150px;
    border-radius: 5%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar .intro{
    padding: 20px;
    text-align: center;
    color: rgb(241, 237, 237);
    font-size: 14px;
}



.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}


.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

/*--------------------Cards----------------------------*/
#mywork
{  
    background-color: #e8e2d5;
    /*background-image: linear-gradient(to bottom, #fff, #e8e2d5)*/
}

#mywork h3
{
    color: #E1AB18;
}

#mywork h1
{
    color: #000;
}



button
{
    border: none;
}

.card
{
    box-shadow: -2px 3px 1px;
    margin-bottom: 10px;
}

.card:hover
{
    box-shadow: -5px 6px 3px;
}

.card-body
{
    
}

.card-title
{
    margin: 0;
}

.card-text
{
    font-size: 14px;
    text-align: start;
    margin-bottom: 3px;
}

.tool
{
    float: left;
    display: inline;
    background: green;
    border-radius: 25px;
    padding: 0 8px;
    margin: 2 3 0 0;
    color: white;
    font-size: 12px;
}

.Unity3D { background-color: #a65d41 }
.Cs { background-color: #444e9e }
.Cg { background-color: #2a99c9 }
.SG { background-color: #b88440 }
.Gd { background-color: #5c5791 }
.GDS { background-color: #805fb3 }
.Bjs { background-color: #49826f }
.JS { background-color: #4d4f59 }
.UE { background-color: #000000 }

.date
{
    clear: both;
    float: right;
    font-size: 10px;
    padding: 4 0 1 0;
}

@media(min-width: 576px)
{
    /*--------------Home--------------*/
    #home
    {
        height: 250px;
    }
    #intro h1
    {
        font-size: 30px;
    }
    #intro p
    {
        font-size: 20px;
    }
    
    #mywork
    {
        padding: 16 0 50 !important;
    }
    
    .card-body
    {
        height: 140px;
    }
}

@media (min-width: 768px)
{
    /*--------------Home--------------*/
    #home
    {
        height: 400px;
    }
    #intro h1
    {
        font-size: 50px;
    }
    #intro p
    {
        font-size: 25px;
    }
    
    .card-body
    {
        height: 100px;
    }
}

@media (min-width: 992px)
{
    /*--------------Home--------------*/
    #home
    {
        height: 600px;
    }
    #intro h1
    {
        font-size: 60px;
    }
    #intro p
    {
        font-size: 30px;
    }
    
    /*--------------Cards--------------*/
    #mywork
    {
        padding: 100 100 !important;
    }
    
}

@media (min-width: 1200px)
{
    /*--------------Cards--------------*/
    #mywork
    {
        padding: 100 200 !important;
    }
}



















